.productivity_tracker_container{
    background-color: #FFFFFF70;
    margin-top: 2rem;
    height: 90%;
    width: 100%;
    padding: 32px;
    border-radius: 56px;
}

.productivity_tracker_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productivity_tracker_header h1 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #172774CC;    
}

.productivity_tracker_header button {
    background-color: #F9F9FA;
    border: 1px solid #FFFFFF80;
    padding: 10px 18px;
    border-radius: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.productivity_tracker_header button span {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #172774CC;
}